@media screen and (max-width: 540px) {
  /*隐藏PC版导航*/
  .header {
    display: none;
  }
  /*移动端导航*/
  .header-m {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #fff;
    z-index: 33;
  }
  .header-m-top {
    height: 100%;
  }
  .header-m .logo {
    float: left;
    width: 80px;
    height: 80px;
    background: url(../img/logo.jpeg) no-repeat center;
    background-size: cover;
  }
  ul.header-m-nav {
    width: 100%;
    float: left;
    height: 0px;
    display: block;
    overflow: hidden;
    background-color: #fff;
  }
  .header-m-nav-item a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: grey;
    line-height: 40px;
    text-indent: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
  }
  .header-m-top .btn {
    float: right;
    width: 60px;
    height: 60px;
    transition: all 0.4s ease-in-out;
    display: block;
    padding-top: 20px;
  }
  .header-m-top span.menu-mobile {
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #888;
    border-radius: 1px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  /* header结束 */

  /* li大小 */
  .main-page .main-content.core ul.main-list .main-list-item {
    width: 100%;
    height: 150px;
    margin-top: 20px;
  }

  /* li里左边图片盒子大小 */
  .main-page .main-content.core ul.main-list .main-list-item a .li-logo {
    float: left;
    width: 100px;
    height: 100%;
    background-color: lightblue;
  }
  /* li里右边文字大盒子 */
  .main-page .main-content.core ul.main-list .main-list-item a .main-text {
    float: left;
    width: calc(100% - 110px);
    margin-left: 10px;
  }
  /* li里右边文字大盒子标题 */
  .main-text .title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* li里右边文字大盒子正文 */
  .main-text p.article {
    -webkit-line-clamp: 4;
  }
}
