* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.core {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  .core {
    width: 100%;
  }
}
